.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    float: right;
    margin-right: 2%;
  }
  
  .pagination li {
    margin-right: 5px;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    border-radius: 4px;
    outline: none;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  